html {
    background-color: #A8D5E2;
    margin: 0;
    padding: 0;
}

header {
    color: #A8D5E2;
    background-color: #506c64;
    list-style: none;
    font-size: x-large;
    height: 210px;
    border: 2px solid;
}

.rx93 {
    border-radius: 50%;
    width: 200px;
    margin: auto;
    padding: 5px;
    float: left;    
}

nav {
    color: black;
    padding-top: 20pt;
    padding-left: 10pt;
}

.link {
    display: inline-block;
    padding-right: 0%;
}

h1  {
    color: whitesmoke;
    background-color: #aba9bf;
    border: 5px grey solid;
}

main {
    width: 1800px;
    margin: 0px;
    background-color: #506c64;
    color: rgb(199, 199, 185);
    font-size: x-large;
}

.image img, .image {
    width: 300px;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.aList {
    margin: 0px;
    padding: 0px;

}

h2 {
    color: whitesmoke;
    background-color: #aba9bf;
}

.hlist {
    color: whitesmoke;
    list-style: none;
    padding: 0;
    margin: 0;

}

footer {
    color: black;
    background-color: #506c64;
    font-family: sans-serif;
    text-align: right;
    height: 50px;
    margin: auto;
}

#demo {
    color: black;
    list-style-type: none;
    margin: auto;
    padding: 0;
}   